:root {
  --vscode-font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
}

body {
  font-family: var(--vscode-font-family);
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-sideBar-background);
  margin: 0;
  padding: 0 8px;
  height: 100vh;

}

#app {
  margin: 0;
  --app-header-height: 28px;
  --chat-footer-height: 80px;
  --chat-prompt-bottom: var(--chat-footer-height);
  --chat-prompt-height: 120px;
  --chat-body-height: calc(100vh - var(--app-header-height) - var(--chat-footer-height) - 32px);
}

.animation-rotate {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-icon-group {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-icon-group.right {
  justify-content: flex-end;
}

.header-icon-group .header-icon,
.header-icon-group .header-icon {
  cursor: pointer;
  font-size: 16px;
  width: 1em;
  height: 1em;
}

.header-icon svg {
  cursor: pointer;
  color: var(--vscode-icon-foreground);
  &:hover {
    color: #fff;
  }
}

.header-icon.disabled svg {
  cursor: not-allowed;
  color: #ccc;
}

.message-icon {
  cursor: pointer;
}

.el-collapse .el-collapse-item {
  --el-collapse-header-height: 36px;
}

.el-collapse-item .el-collapse-item__header,
.el-collapse-item .el-collapse-item__wrap {
  background-color: transparent;
}
.el-collapse-item .el-collapse-item__content {
  padding-bottom: 16px;
  color: inherit;
}
