.markdown-body {
  font-size: 14px;
}

.markdown-body h1 {
  font-size: 1.6em;
}

.markdown-body h2 {
  font-size: 1.5em;
}

.markdown-body h3 {
  font-size: 1.4em;
}

.markdown-body h4 {
  font-size: 1.3em;
}

.markdown-body h5 {
  font-size: 1.2em;
}

.markdown-body h6 {
  font-size: 1.1em;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--vscode-editor-foreground);
}

.markdown-body p {
  line-height: 1.35;
  margin: 0;
  padding: 0;
}

.markdown-body pre {
  background-color: var(--vscode-textCodeBlock-background);
  border-radius: 4px;
  padding: 4px;
  overflow: auto;
}

.markdown-body pre code {
  font-family: var(--vscode-editor-font-family);
  background-color: transparent;
  font-size: 13px;
  padding: 4px;
}

.markdown-body blockquote {
  border-left: 4px solid var(--vscode-editor-foreground);
  color: var(--vscode-descriptionForeground);
  padding: 0 1em;
  margin: 0 0 8px 0;
}

.markdown-body ol,
.markdown-body ul {
  padding-inline-start: 16px;
}

/* ---------- 表格样式 ---------- */
.markdown-body table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: fit-content;
  max-width: 100%;
  overflow: auto;
  margin: 8px 0;
}

.markdown-body table th,
.markdown-body table td {
  border: 1px solid var(--vscode-tree-tableColumnsBorder);
  padding: 6px 13px;
  text-align: left;
  vertical-align: top;
}

.markdown-body table th {
  font-weight: 600;
  background-color: transparent;
}

.markdown-body table tr {
  background-color: transparent;
  border-top: 1px solid var(--vscode-tree-tableColumnsBorder);
}

.markdown-body table tr:nth-child(even) {
  background-color: var(--vscode-tree-tableOddRowsBackground);

}

/* ---------- 代码样式 ---------- */

code.hljs {
  position: relative;
}

code.hljs .hljs-button-copy {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 4px 8px;
  font-size: 12px;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: 1px solid var(--vscode-button-border, transparent);
  border-radius: 4px;
  cursor: pointer;
  z-index: 10;
}


code.hljs .hljs-button-copy:hover {
  background-color: var(--vscode-button-hoverBackground);
}
