body {
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
  background-color: var(--vscode-editor-background);
}

a {
  color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
  color: var(--vscode-textLink-activeForeground);
}

code {
  font-size: var(--vscode-editor-font-size);
  font-family: var(--vscode-editor-font-family);
}

/* Button */

.vscode-button {
  cursor: pointer;
  text-align: center;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: var(--vscode-button-background);
  border: 1px solid var(--vscode-button-background);
  color: var(--vscode-button-foreground);
}

.vscode-button:hover {
  cursor: pointer;
  background: var(--vscode-button-hoverBackground);
}

.vscode-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.vscode-button:focus {
  outline-color: var(--vscode-focusBorder);
}

.vscode-button.secondary {
  color: var(--vscode-button-secondaryForeground);
  background: var(--vscode-button-secondaryBackground);
}

.vscode-button.secondary:hover {
  background: var(--vscode-button-secondaryHoverBackground);
}

.vscode-button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

.vscode-button.primary {
  background-color: #409eff;
  border-color: #409eff;
}

.vscode-button.primary:hover {
  background-color: #66b1ff;
}

.vscode-button.is-text {
  display: flex;
  align-items: center;
  gap: 4px;
  background: transparent;
  border: none;
  color: var(--vscode-button-secondaryForeground);
}

.vscode-button.is-icon {
  background-color: transparent;
  border: transparent;
}

/* button group */

.vscode-button-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Input */

.vscode-input {
  width: 100%;
  font-size: 14px;
  padding: 8px 12px;
  resize: none;
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--vscode-dropdown-border);
  background: var(--vscode-dropdown-background);
  color: var(--vscode-dropdown-foreground);
}

.vscode-input:focus {
  outline: none;
  border-color: var(--vscode-inputOption-activeBorder);
}

/* Textarea */

.vscode-textarea {
  width: 100%;
  padding: 4px;
  resize: none;
  outline: none;
  border-radius: 2px;
  border: 1px solid var(--vscode-editor-background);
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
}

.vscode-textarea:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.vscode-textarea::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

.vscode-textarea.focus,
.vscode-textarea:focus {
  border-color: var(--vscode-inputOption-activeBorder);
}
