.vscode/**
.vscode-test/**
out/**
node_modules/**
packages/**
.gitignore
.yarnrc
.env
pnpm-workspace.yaml
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.ttf
**/*.woff
**/*.woff2
assets
AGENTS.md
DEVELOPMENT.md
LICENSE.txt
pnpm-lock.yaml
