body {
    font-family: var(--vscode-font-family);
    color: var(--vscode-foreground);
    background-color: #1e1f1c;
    margin: 0;
    padding: 0 8px;
}

#app {
    margin: 0;
    --app-header-height: 28px;
    --app-body-height: calc(100vh - 156px);
    --app-footer-height: 100px;
}

.header-area-tool {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 4px;
    height: var(--app-header-height);
}

.chat-container {
    background-color: #1e1f1c;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 2px;
}



.messages-area {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 4px 8px 0 0;
    border-radius: 4px;
    height: var(--app-body-height);
    overflow-y: auto;
}

.footer-area {
    height: var(--app-footer-height);
    position: relative;
}


.messages-area .message-you,
.messages-area .message-ai {
    margin-bottom: 16px;
    line-height: 1.35;
    border: 1px solid var(--vscode-input-border);
    background-color: #272822;
    padding: 8px;
    border-radius: 4px;
}

.messages-area .message-ai {
    background-color: transparent;
}

.messages-area .message-you {
    width: auto;
    max-width: 400px;
}

.messages-area .link-copy {
    display: inline-block;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 2px 4px;
    cursor: pointer;
}


.footer-area textarea {
    width: 100%;
    height: 100%;
    background-color: #414339;
    border-radius: 4px;
}

.footer-area #chat-tool {
    position: absolute;
    width: 100%;
    bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
}

.footer-area .chat-select {
    max-width: 320px;
}

.footer-area #chat-button {
    width: auto;
}

.el-button+.el-button.vscode-button-small {
    margin-left: 0;
}