body {
  font-family: var(--vscode-font-family);
  padding: 8px;
  color: var(--vscode-foreground);
  background-color: #1e1f1c;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages {
  overflow-y: auto;
  border: 1px solid var(--vscode-input-border);
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 12px;
  height: calc(100vh - 100px);
}

.message-you,
.message-ai {
  margin-bottom: 8px;
  line-height: 1.35;
  border: 1px solid var(--vscode-input-border);
  background-color: #272822;
  padding: 8px;
  border-radius: 4px;
}

.message-you {
  color: #409eff;
}

.input-area {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 50px;
}

.input-area-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid var(--vscode-input-border);
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border-radius: 4px;
}

.input-area-button {
  padding: 8px 16px;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-area-button:hover {
  background-color: var(--vscode-button-hoverBackground);
}


.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--vscode-editor-foreground);
}

.markdown-body p {
  line-height: 1.35;
  margin: 0;
  padding: 0;
}

.markdown-body pre {
  background-color: var(--vscode-textCodeBlock-background);
  border-radius: 4px;
  padding: 8px;
  overflow: auto;
}

.markdown-body code {
  font-family: var(--vscode-editor-font-family);
  background-color: transparent;
}

.markdown-body blockquote {
  border-left: 4px solid var(--vscode-editor-foreground);
  color: var(--vscode-descriptionForeground);
  padding: 0 1em;
  margin: 0 0 8px 0;
}

.markdown-body ol,
.markdown-body ul {
  padding-inline-start: 8px;
}